.navbar-dark{
	background-color: #262626;
}
.jumbotron {
  margin: 0px auto;
  background: #404040;
  color: floralwhite; 
  border-radius: 0px;
  padding: 70px 30px;
}
.logo{
	background-color: white;
	border-radius: 50%;
}
.btn-block{
	background-color: white;
	color: black;
	margin-top: 10px;
}
a:hover{
	color: black;
	background-color: silver;
}
.row-content{
	margin-bottom: 5px;
}
.content{
	margin-top: 15px;
	margin-bottom: 15px;
}
.carousel .carousel-item {
	max-height: 800px;
}
.carousel .carousel-item img {
	  max-height: 1200px; 
	  /*max-width: 80%;*/
  }
.carousel-caption{
	font-size: 25px;
	color: floralwhite;
}
.footer {
  background-color: #404040;
  margin: 0px auto;
  padding: 20px 0px; 
  color: floralwhite; 
  margin-top: 15px;
}
a{
	color: floralwhite;
}
.btn-instagram{
	background-color: #FF0066;
}
.btn-social-icon{
	margin-right: 10px;
}
.img-thumbnail{
	margin-top: 20px;
}
.nav-pills{
	color: floralwhite;
	background-color: #404040; 
}
.nav-pills .nav-link{
	border-radius: 0px;
}
.nav-pills .nav-link.active{
	background-color: black;
}
.img-thumbnail{
	border-color: silver;
}
.tab-content{
    border-left: 1px solid #404040;
    border-right: 1px solid #404040;
    border-bottom: 1px solid #404040;
    padding: 10px;
}
#gallerybottom{
	margin-top: 15px;
	background-color: #303030;
	color: floralwhite;
}
.card-header{
	background-color: #262626;
	color: floralwhite;
}
.cardtop{
	margin-top: 15px;
}
.card-footer{
	background-color: gray;
	color: floralwhite;
}
ol>li{
	font-size: 20px;
}
ul>li{
	font-size: 20px;
}
.shutter{
	font-family: 'Aclonica';
}
.pagemain{
	font-family: 'Acme';
}
.ending{
	font-family: 'Abril Fatface';
}
.btn-lg{
	margin-bottom: 10px;
}
address{
	margin-bottom: 15px;
}
#history{
	margin-top: 20px;
	font-size: 20px;
}
#hide{
	visibility: hidden;
}
